<html>
  <head>
    <title>Make a Post - Land 3</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class="land3">
    <div class="form">
      <form action="/land3/upload" method="POST" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Your name..." required>
        <input type="file" name="theImage" accept="image/*" required>
        <input type="submit" value="Upload and Map">
      </form>
    </div>
  </body>
</html>
