<html>
  <head>
    <title>Events</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class = "event-page">
     <%- include('nav') %>
    <h1>Events</h1>
    <li>No More events in 2025</li>
  </body>
</html>
