<head>
  <title>Home</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body class="homeP">

  <div class="grid">

    <div class="TL">
      <a href="/land"><button class="homePland">Land</button></a>
      <a href="/members"><button class="homePmembers">Members</button></a>
    </div>

    <div class="TR"><p>Doodle</p></div>

    <div class="BL"><p>Land</p></div>

    <div class="BR">
      <a href="/events"><button class="homePevents">Events</button></a>
      <a href="/join"><button class="homePjoin">Join Us</button></a>
    </div>

  </div>

</body>
