<html>
  <head>
    <title>Join Us</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class=" join-page">
     <%- include('nav') %>
    <h1>Join Us</h1>
    <li>Join us at by emailing ilovedoodle@gmail.com</li>
    <li>Facebook: #I-love-doodle</li>
  </body>
</html>
