<html>
  <head>
    <title>Choose a Land</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class="land-page">
    <%- include('nav') %>

    <h1>Select a Land</h1>

    <div class="landBut">
      <button class="land1" onclick="window.location.href='/land1/display'">Pet Park</button>
      <button class="land2" onclick="window.location.href='/land2/display'">Rain Forest</button>
      <button class="land3" onclick="window.location.href='/land3/display'">Halloween</button>
      <button class="land4" onclick="window.location.href='/land4/display'">Party Time</button>
      <button class="land5" onclick="window.location.href='/land5/display'">New York</button>
      <button class="land6" onclick="window.location.href='/land6/display'">High-School</button>
    </div>
  </body>
</html>
