<div class="nav">
  <a href="/"><button>Home</button></a>
  <a href="/land"><button>Land</button></a>
  <a href="/members"><button>Members</button></a>
  <a href="/events"><button>Events</button></a>
  <a href="/join"><button>Join</button></a>
</div>
<hr>