<html>
<head>
    <title>Map Page - Land 2</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body class="land2">

    <!-- coordinates -->
    <form id="mapForm" action="/land2/map" method="POST" style="display:none">
        <input type="hidden" name="x" id="xCoord">
        <input type="hidden" name="y" id="yCoord">
    </form>

    <!-- images -->
    <% for (let p of allPosts) { %>
        <% if (p.x !== undefined && p.y !== undefined) { %>
            <div class="image" style="position:absolute; left:<%= p.x %>%; top:<%= p.y %>%;">
                <img class="mapped-img" src="<%= p.imgSrc %>" >
            </div>
        <% } %>
    <% } %>

    <!--  note -->
    <div class="maping-note" >
       <p>💡💡💡Click anywhere on the map to place your imag💡💡💡</p> 
    </div>

    <!--  -->
    <script>
        const allPostsLength = <%= allPosts.length %>;
    </script>
    <script src="/map.js"></script>
</body>
</html>
